body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  margin: 15px;
}

header h1 {
  color: rgb(255, 255, 255);
  margin: 5px;
  padding: 24px;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background: url("./images/longtomates.jpg");
  background-position: center;
}

.projects {
  margin: 15px;
  padding: 12px;
  border: 3px solid rgb(20, 119, 33);
  border-radius: 8px;
}

.photos {
  width: 100%;
  padding: 10px;
}

.projPictures {
  width: 100%;
}

footer {
  padding: 8px;
  color: rgb(255, 255, 255);
  background-color: rgb(14, 65, 1);
}

footer h4 {
  text-align: center;
}


.aboutMeH4{
  text-align: center;
  color: white;
  background-color: rgb(14,65,1);
}
.aboutMeText {
  color: rgb(0, 2, 2);
}

#portHeader {
  text-align: center;
}

.bio{
  /* margin: 10px; */
  padding: 12px;
}

.bio h4{
  text-align: center;
  color: white;
  background-color: rgb(14, 65, 1);
}

.bio button{
  background-color: rgb(14, 65, 1);
  color: white;
}

.navBar {
  background-color: rgb(14,65,1));
}

.footer {
  margin: 12px;
}